<div class="d-flex flex-row flex-wrap justify-content-around align-items-stretch gap-2 mb-2 bg-primary-subtle">
  <div class="flex-fill p-2 display-4">Lista de contactos</div>
  @if (VM.auth.isAuthenticated) {
  <div class="align-self-center m-2">
    <button class="btn btn-success" routerLink="add"><i class="fas fa-plus"></i> Añadir</button>
  </div>
  }
</div>
<div class="d-flex flex-row flex-wrap justify-content-around align-items-stretch gap-2 mb-2">
@for (item of VM.Listado; track item.id) {
  <div class="card flex-grow-1 px-2" style="max-width: 40rem;">
    <div class="d-flex flex-column flex-sm-row align-content-center align-items-center flex-wrap">
      <div class="flex-shrink-0 mt-2 mt-md-0">
        <img class="rounded-circle float-left"
          src="{{item.avatar ?? (item.sexo === 'H' ? '/images/user-not-found-male.png' : '/images/user-not-found-female.png') }}"
          alt="Foto de {{item.nombre}} {{item.apellidos}}" width="75" height="75">
      </div>
      <div class="flex-grow-1 ms-0 ms-sm-3 d-flex align-content-center align-items-center">
        <div class="flex-grow-1">
          <a class="btn btn-link btn-lg px-0" routerLink="{{item.id}}/{{item.nombre}}-{{item.apellidos}}">
            {{item.tratamiento}} {{item.nombre}} {{item.apellidos}}</a>
          <br>
          <b>Tlfn.:</b> {{item.telefono}}
          <br>
          <b>Correo:</b> {{item.email}}
        </div>
        @if (VM.auth.isAuthenticated) {
        <div class="flex-shrink-1 btn-group-vertical ms-3" role="group">
          <button class="btn btn-success" [routerLink]="[item.id, 'edit']"><i class="fas fa-pen"></i></button>
          <button class="btn btn-danger" (click)="VM.delete(item.id)"><i class="far fa-trash-alt"></i></button>
        </div>
        }
      </div>
    </div>
  </div>
}
</div>
<app-paginator [current-page]="VM.page" [total-pages]="VM.totalPages" (page-change)="VM.pageChange($event)" />
